{% extends 'base.html.twig' %}

{% block body_title %}Dostępne dyrekcje{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Start</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dyrekcje</li>
    {% endblock %}

{% block body %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="col-2">Numer adresowy</th>
      <th scope="col">Nazwa</th>
      <th scope="col" class="col-1">Opcje</th>
    </tr>
  </thead>
  <tbody>
      {% for dyrekcja in dyrekcje %}
    <tr>
      
      <th scope="row">{{ dyrekcja.numerAdresowy }}</th>
      <td>{{ dyrekcja.nazwa }}</td>
      <td><a href="{{ path('_jednostki', {'numerDyrekcji':dyrekcja.id}) }}"><button type="button" class="btn btn-info"><i class="far fa-eye"></i></button></a></td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
