{% extends 'base.html.twig' %}

{% block body_title %}{{jednostka.dyrekcja.nazwa}} -> {{jednostka.nazwa}} -> Działy{% endblock %}


{% block body %}
{% for dzial in dzialy %}
<section class="mb-2">
  <div class="card border-dark">
    <div class="card-header">{{ dzial.nazwa }}</div>
    <div class="card-body text-dark">
      <div class="row">
        <div class="col-4">
          <h7 class="card-title">Pracownicy:</h7>
          {{ render(controller(
        'App\\Controller\\RenderController::pracownicyDzialu',
        { 'jednostka': jednostka, 'dzial': dzial }
    )) }}
        </div>
        <div class="col-6">
          <div id="wykres-{{dzial.id}}" style="width: 100%; height: 100%;"></div>
        </div>
        <div class="col-2">
          <div class="btn-group-vertical btn-group-sm">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#dzial{{ dzial.id }}"><i
                class="fas fa-user-plus"></i> Dodaj pracownika</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}



{% endblock %}
{% block javascripts %}
{% for dzial in dzialy %}
{{ render(controller(
        'App\\Controller\\RenderController::wykresDzialu',
        { 'jednostka': jednostka , 'dzial': dzial}
    )) }}
{% endfor %}
{# ["Platinum", 21.45, "blue"]#}
<script type="text/javascript">
  google.charts.load("current", { packages: ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ["Element", "Obciążenie", { role: "style" }],
      {% for dzial in dzialy %}
  {
    {
      render(controller(
        'App\\Controller\\RenderController::srednieObciazenie',
        { 'jednostka': jednostka, 'dzial': dzial }
      ))
    }
  }
  {% endfor %}
       
      ]);

  var view = new google.visualization.DataView(data);
  view.setColumns([0, 1,
    {
      calc: "stringify",
      sourceColumn: 1,
      type: "string",
      role: "annotation"
    },
    2]);

  var options = {
    title: "Średnie obciążenie pracowników w poszczególnych działach %",

    bar: { groupWidth: "95%" },
    legend: { position: "none" },
  };
  var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
  chart.draw(view, options);
  }
</script>



{% endblock %}

{% block modal %}
{% for dzial in dzialy %}
<div class="modal fade show" id="dzial{{dzial.id}}" tabindex="-1" role="dialog" aria-labelledby="dzial{{ dzial.id }}"
  aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodaj pracownika - {{ dzial.nazwa }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form
        action="{{ path('_dodaj_pracownika', {'numerDyrekcji': jednostka.dyrekcja.id, 'numerJednostki': jednostka.id, 'numerDzialu': dzial.id }) }}"
        method="post">

        <div class="modal-body">
          <div class="form-group">
            <label for="nazwa">Imię i nazwisko:</label>
            <select class="form-control" id="stanowisko" name="stanowisko">
              {% for stanowisko in stanowiska %}
              <option value="{{ stanowisko.id }}">{{ stanowisko.nazwa }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Stanowisko:</label>
            <select class="form-control" id="stanowisko" name="stanowisko">
              {% for stanowisko in stanowiska %}
              <option value="{{ stanowisko.id }}">{{ stanowisko.nazwa }}</option>
              {% endfor %}
            </select>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}