{% extends 'base.html.twig' %}

{% block title %}Esto - Zarządzanie produkcją{% endblock %}

{% block body_title %}Zarządzanie produkcją{% endblock %}

{% block body %}
Wykresy oraz raporty będą widoczne po ukończeniu planowania
{% endblock %}
