{% extends 'base.html.twig' %}

{% block body_title %}Dostępne jednostki w {{dyrekcja.nazwa}}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Start</a></li>
    <li class="breadcrumb-item"><a href="/dyrekcje">Dyrekcje</a></li>
    <li class="breadcrumb-item active" aria-current="page">Jednostki</li>
    {% endblock %}
{% block body %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="col-2">Numer adresowy</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Typ</th>
      <th scope="col" class="col-1">Opcje</th>
    </tr>
  </thead>
  <tbody>
      {% for jednostka in jednostki %}
    <tr>
      
      <th scope="row">{{ jednostka.numerAdresowy }}</th>
      <td>{{ jednostka.nazwa }}</td>
      <td>{{ jednostka.typ }}</td>
      <td><a href="{{ path('_dzialy', {'numerDyrekcji':dyrekcja.id, 'numerJednostki':jednostka.id}) }}"><button type="button" class="btn btn-info"><i class="far fa-eye"></i></button></a></td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
