{% extends 'base.html.twig' %}

{% block title %}Organizator 2{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Start</a></li>
    <li class="breadcrumb-item"><a href="/dyrekcje">Dyrekcje</a></li>
    {% endblock %}

{% block body %}

    <section>
        <h2>Przypisywanie zadań do pracownika - {{ pracownik.nazwa }}</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Zadania działu techniczego
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">  


                            {{ render(controller(
        'App\\Controller\\RenderController::dostepneZadania',
        { 'jednostka': jednostka, 'dzial': dzial }
    )) }}
                            {#                       
                                                   <li data-org-pro="5" class="list-group-item list-group-item-success d-flex justify-content-between align-items-center dad-item">Zadanie 1 <span class="badge badge-primary badge-pill">5 %</span><a tabindex="0" class="btn btn-sm btn-outline-success" role="button" data-toggle="popover" data-trigger="focus" title="Opis zadania" data-content="Szczegółowy opis wykonywamych prac w danym zadaniu">?</a></li>
                                                   <li data-org-pro="25" class="list-group-item list-group-item-success d-flex justify-content-between align-items-center dad-item">Zadanie 2 <span class="badge badge-primary badge-pill">25 %</span><a tabindex="0" class="btn btn-sm btn-outline-success" role="button" data-toggle="popover" data-trigger="focus" title="Opis zadania" data-content="Szczegółowy opis wykonywamych prac w danym zadaniu">?</a></li>
                                                   <li data-org-pro="10" class="list-group-item list-group-item-success d-flex justify-content-between align-items-center dad-item">Zadanie 3 <span class="badge badge-primary badge-pill">10 %</span><a tabindex="0" class="btn btn-sm btn-outline-success" role="button" data-toggle="popover" data-trigger="focus" title="Opis zadania" data-content="Szczegółowy opis wykonywamych prac w danym zadaniu">?</a></li>
                                                   <li data-org-pro="20" class="list-group-item list-group-item-success d-flex justify-content-between align-items-center dad-item">Zadanie 4 <span class="badge badge-primary badge-pill">20 %</span><a tabindex="0" class="btn btn-sm btn-outline-success" role="button" data-toggle="popover" data-trigger="focus" title="Opis zadania" data-content="Szczegółowy opis wykonywamych prac w danym zadaniu">?</a></li>
                                                   <li data-org-pro="40" class="list-group-item list-group-item-success d-flex justify-content-between align-items-center dad-item">Zadanie 5 <span class="badge badge-primary badge-pill">40 %</span><a tabindex="0" class="btn btn-sm btn-outline-success" role="button" data-toggle="popover" data-trigger="focus" title="Opis zadania" data-content="Szczegółowy opis wykonywamych prac w danym zadaniu">?</a></li>
                            #}                   
                        </blockquote>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <h5>Obciążenie pracownika %</h5>
                        <div class="progress" style="height: 30px;">                  
                            <div id="progress-bar" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ pracownik.obciazenie }}%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ pracownik.obciazenie }}%</div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <h5>Zadania pracownika</h5>

                        <ul id="org-prac-proc" class="list-group list-group-sortable-connected dad-contener" style="min-height: 40px; background-color: whitesmoke">
                        {% for zadanie in pracownik.zadania %}
                            <li data-org-pro="{{ zadanie.procentEtatu }}" data-org-zad="{{ zadanie.id }}" class="list-group-item list-group-item-success d-flex justify-content-between align-items-center dad-item">{{ zadanie.opis }} <span class="badge badge-primary badge-pill">{{ zadanie.procentEtatu }} %</span><a tabindex="0" class="btn btn-sm btn-outline-success" role="button" data-toggle="popover" data-trigger="focus" title="Opis zadania" data-content="Szczegółowy opis wykonywamych prac w danym zadaniu">?</a></li>
                        {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Zalecane zadania
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">  

                 
                        </blockquote>
                    </div>
                </div>

            </div>

        </div>
        <div class="row justify-content-end">
            <hr>
            <div class="col-2">
                <button id="zapiszZadania" type="button" class="btn btn-success">Zapisz</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/organizator.js') }}"></script>
    <script src="{{ asset('js/jquery.sortable.js') }}"></script>
    <script>
        $(function () {

            $('.dad-contener').sortable({
            placeholderClass: '.dad-item',
                    connectWith: '.connected'
                    }).bind('sortupdate', function() {
                           var allpro = 0;
                           var cl =$('#org-prac-proc li').length;   
                            $('#org-prac-proc li').each(function(){
                                var pro = $(this).data("org-pro");
                 allpro = allpro + pro;
                 $('#progress-bar').width(allpro+'%');
                 $('#progress-bar').attr('aria-valuenow', allpro);
                 $('#progress-bar').text(allpro+'%');
                            });
    
    
                    });



        });



        $(function () {
            $("#org-prac-proc")
                    .mouseup(function () {
                        alert('ok');
                    });
        });




        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        $('.popover-dismiss').popover({
            trigger: 'focus'
        })
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load("current", {packages: ["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Obciążenie', 'Percentage'],
                ['', 120],
                ['', 0]
            ]);

            var options = {
                legend: 'none',
        {#          pieSliceText: 'none',#}
                    pieStartAngle: 0,
                    pieHole: 0.4,
        {#          tooltip: { trigger: 'none' },#}
                    slices: {
                        0: {color: 'green'},
                        1: {color: 'transparent'}
                    }
                };

                var chart = new google.visualization.PieChart(document.getElementById('pacman'));
                chart.draw(data, options);
            }
    </script>

    <script>
        $("#zapiszZadania").on( "click", function() {
            var listaZadan = "";
            $('#org-prac-proc li').each(function(){
                var zad = $(this).data("org-zad");
                listaZadan = listaZadan+zad+';';
            });
            
            var url = '{{ url('_zapisz_zadania', {'numerPracownika': pracownik.id, 'listaZadan': 'zadLIS' }) }}'; 
           
            url = url.replace("zadLIS", listaZadan);
            
        window.location=url;   
        
        });
    </script>
    
  
{% endblock %}
