<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Logowanie &mdash; ESTO ZP</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->
  {# <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css"> #}

  <!-- Template CSS -->
  <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/components.css') }}">
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="d-flex flex-wrap align-items-stretch">
        <div class="col-lg-4 col-md-6 col-12 order-lg-1 min-vh-100 order-2 bg-white">
          <div class="p-4 m-3">
            <img src="../assets/img/logo.png" alt="logo" width="150" class="mb-5 mt-2">
            <h4 class="text-dark font-weight-normal"><span class="font-weight-bold">TEST - ESTO </span>Zarządzanie produkcją</h4>
            <p class="text-muted">Aby się zalogować użyj loginu i hasła domenowego</p>
            {% if error %}
                
                <div class="alert alert-danger alert-has-icon">
                      <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
                      <div class="alert-body">
                        <div class="alert-title">Błąd logowania</div>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                      </div>
                    </div>
                
            {% endif %}
            <form method="POST" action="{{ path("fos_user_security_check") }}" class="needs-validation" novalidate="">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
              <div class="form-group">
                <label for="email">Login domenowy</label>
{#                <input id="email" type="email" class="form-control" name="email"  required autofocus>#}
                <input type="text" id="username" tabindex="1" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" autofocusautofocus/>
                <div class="invalid-feedback">
                 Wpisz login domenowy
                </div>
              </div>

              <div class="form-group">
                <div class="d-block">
                  <label for="password" class="control-label">Hasło</label>
                </div>
{#                <input id="password" type="password" class="form-control" name="password"  required>#}
                <input type="password" id="password" name="_password" class="form-control" required="required" tabindex="2" autocomplete="current-password" />
                <div class="invalid-feedback">
                  Wpisz hasło domenowe
                </div>
              </div>

              {#<div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                  <label class="custom-control-label" for="remember-me">Remember Me</label>
                </div>
              </div>#}

             <div class="form-group text-right">
                <a class="float-left mt-3">
{#                  Forgot Password?#}
                </a>
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-lg btn-icon icon-right" tabindex="3">
                 
                  Zaloguj
                </button>
              </div>

              {#<div class="mt-5 text-center">
                Don't have an account? <a href="auth-register.html">Create new one</a>
              </div>#}
            </form>

            <div class="text-center mt-5 text-small">
              Waspit 2020
              <div class="mt-2">
                <a href="http://esto.biz.pl">Strona www</a>
                <div class="bullet"></div>
                <a href="mailto:kontakt@waspit.pl">Wyślij pytanie o program</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-12 order-lg-2 order-1 min-vh-100 background-walk-y position-relative overlay-gradient-bottom" data-background="../assets/img/unsplash/login-bg.jpg">
          <div class="absolute-bottom-left index-2">
            <div class="text-light p-5 pb-2">
              <div class="mb-5 pb-3">
                <h1 class="mb-2 display-4 font-weight-bold">Dzień dobry,</h1>
                <h5 class="font-weight-normal text-muted-transparent">życzymy miłego dnia.</h5>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="{{ asset('assets/js/stisla.js') }}"></script>

  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="{{ asset('assets/js/scripts.js') }}"></script>
  <script src="{{ asset('assets/js/custom.js') }}"></script>

  <!-- Page Specific JS File -->
</body>
</html>
