{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}



{% extends 'base.html.twig' %}

{% block body_title %}{{ zaplanowany.zlecenie.ZSETowarNazwa}}
					-
					{{zaplanowany.zlecenie.ZPEIlosc}}{{ zaplanowany.zlecenie.ZPEjm }}
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="#">Planowanie</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">{{zlecenie.ZPNumer}}</li>
{% endblock %}

{% block script %}
	<script src="{{ asset('assets/modules/datetimepicker/build/jquery.datetimepicker.full.min.js') }}"></script>
	<script src="{{ asset('assets/js/planowanie.js') }}"></script>
	<script>
		jQuery.datetimepicker.setLocale('pl');
jQuery('.dtpicker').datetimepicker({step: 15});
	</script>

{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/modules/datetimepicker/build/jquery.datetimepicker.min.css') }}"/>

{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_errors(form) }}

<div class="card-body">
				<div id="proces1" class="card px-md-5">
					<div class="card-heder">
						<h4 class="nazwa"></h4>
					</div>
					<div class="row">
						<div class="col-12 col-md-12 col-lg-12">
							<label>Proces produkcji:</label>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
											{{ form_widget(form.proces, {'attr': {'class': 'form-control'}}) }}
											
										</select>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Czas rozpoczęcia procesu</label>
										{{ form_widget(form.dataStart, {'attr': {'class': 'dtpicker form-control'}}) }}

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<div class="control-label">Przezbrojenie</div>
										{{ form_widget(form.przezbrojenie, {'attr': {'class': 'custom-switch-indicator'}}) }}

									</div>
								</div>

								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Średni czas przezbrojenia (min):</label>
										{{ form_widget(form.czasPrzezbrojenia, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Czas cyklu OCC:</label>
										{{ form_widget(form.czasCyklu, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>

								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Krotność:</label>
										{{ form_widget(form.krotnosc, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							</div>
<div class="row">
								

								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Gotowe:</label>
										{{ form_widget(form.gotowe, {'attr': {'class': 'custom-switch-indicator'}}) }}
									</div>
								</div>

								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Ukryte dla operatora:</label>
										{{ form_widget(form.widocznosc, {'attr': {'class': 'custom-switch-indicator'}}) }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer bg-whitesmoke text-right">
				
				{{ form_widget(form.zapisz, {'attr': {'class': 'btn btn-success'}}) }}
			</div>
			</div>


    
{{ form_end(form) }}
{% endblock %}
