{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}
<!DOCTYPE html>
<html lang="PL">
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <title>Produkcja ESTO</title>
    <link
      rel="stylesheet"
      href="{{ asset('bootstrap/css/bootstrap.min.css') }}"
    />
    <style>
      body {
        font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
     
      h1 {
        font-size: 20px;
        line-height: 20px;
      }
      .resizing {
        background: rgb(33, 188, 235) !important;
      }
    </style>
    
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/modules/datetimepicker/build/jquery.datetimepicker.min.css') }}"/>
    <script src="{{ asset('assets/modules/datetimepicker/build/jquery.datetimepicker.full.min.js') }}"></script>
    
  </head>

  <body>

    <div
      class="modal fade"
      id="showItem"
      data-backdrop="static"
      tabindex="-1"
      role="dialog"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
    <form action="{{ path("_save_item")}}" method="POST">
      
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input id="planid" name="planid" type="hidden" class="dtpicker form-control planid">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
  
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label>Proces produkcji:</label>
                      <select name="proces" class="proces form-control">
                        {% for proces in procesy %}
                          <option value="{{proces.id}}">{{proces.nazwa}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label>Czas rozpoczęcia procesu</label>
                      <input id="dtp" name="data" type="text" class="dtpicker form-control czasroz">
  
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <div class="control-label">Przezbrojenie</div>
                      <label class="custom-switch mt-2">
                        <input type="hidden" name="przezbrojenie" value="off" class="hprzezbrojenie">
                        <input type="checkbox" name="przezbrojenie" class="przezbrojenie custom-switch-input">
                        <span class="custom-switch-indicator"></span>
                        <span class="custom-switch-description">Wymagane przezbrojenie</span>
                      </label>
  
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label>Średni czas przezbrojenia (min):</label>
                      <input name="czasprzez" type="text" class="czasprze form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label>Czas cyklu OCC:</label>
                      <input name="czascyk" type="text" class="czascyk form-control">
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label>Krotność:</label>
                      <input name="krotnosc" type="text" class="krotnosc form-control">
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Anuluj
            </button>
            <button type="submit" class="btn btn-primary">Zapisz</button>
          </div>
        </div>
      </div>
    </form>
    </div>
    <h1>ESTO Produkcja</h1>
    <div>
      Proces:
      <input type="range" min="0" max="100" value="100" id="percent" /> Zoom:
      <input type="range" min="10" max="22" value="20" id="zoom" />
      <!-- <button id="change-something">Change something</button>
      <button onclick="deleteRow()">Delete row</button>
      <button onclick="deleteItem()">Delete item</button>
      <button onclick="clearAll()">clear all</button>
      <button onclick="randomizeItems()">randomize items</button>
      <button onclick="destroy()">destroy</button>
      <button onclick="replaceData()">replace</button> -->
    </div>
    <div id="app"></div>
    <script src="{{ asset('assets/modules/jquery.min.js') }}"></script>
    
    <script src="{{ asset('assets/modules/popper.js') }}"></script>
    <script src="{{ asset('assets/modules/tooltip.js') }}"></script>
    <script src="{{
        asset('assets/modules/bootstrap/js/bootstrap.min.js')
      }}"></script>
    <script src="{{
        asset('assets/modules/nicescroll/jquery.nicescroll.min.js')
      }}"></script>
    <script src="{{ asset('assets/modules/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/stisla.js') }}"></script>
    <script>
            const iterations = 1000;

            const pallete = [
              '#E74C3C',
              '#DA3C78',
              '#7E349D',
              '#0077C0',
              '#07ABA0',
              '#0EAC51',
              '#F1892D',
              '#E3724B',
              '#AE7C5B',
              '#6C7A89',
              '#758586',
              '#707070'
            ];

            const rows = {};
             {% for proc in procesy %}
             id = {{proc.id}};
              rows[id] = {
                id,
                label: `{{proc.nazwa}}`,
                progress: 50,
                parentId: undefined,
                expanded: false
              };
            {% endfor %}






            const items = {
              {% for proc in procesy %}
              {% for plan in proc.zaplanowanyProces %}
                  {{plan.id}}: {
                    id: {{plan.id}},
                    label: '{{plan.zlecenie.ZPNumer}}',
                    rowId: {{proc.id}},
                    // moveable: 'x',

                    time: {
                      start: new Date( {{plan.datastart|date("Y, m-1, d, H, i")}}).getTime(),
                      end: new Date( {{plan.datastop | date("Y, m-1, d, H, i")}}).getTime()
                    },
                    style: { background: '{{plan.zlecenie.kolor}}'}
                  },
                  {% endfor %}
                  {% endfor %}

              // 7: {
              //       id: 7,
              //       label: 'ZP-220/5/2019',
              //       rowId: 1,
              //       time: {
              //         start: new Date(2020, 2, 20, 9, 0).getTime(),
              //         end: new Date(2020, 2, 20,11,3).getTime()
              //       }
              //     },
              //                 10: {
              //       id: 10,
              //       label: 'ZP-223/5/2019',
              //       rowId: 1,
              //       time: {
              //         start: new Date(2020, 2, 15).getTime(),
              //         end: new Date(2020, 2, 16).getTime()
              //       }
              //     },

                }


            const columns = {
              percent: 100,
              resizer: {
                inRealTime: true
              },
              data: {
                id: {
                  id: 'id',
                  data: 'id',
                  width: 50,
                  header: {
                    content: 'ID'
                  }
                },
                label: {
                  id: 'label',
                  data: 'label',
                  expander: true,
                  isHTML: false,
                  width: 230,
                  header: {
                    content: 'Proces'
                  }
                }

              }
            };


            function clickAction(element, data) {
        function onClick(event) {

          // alert(`Event ${data.item.id} clicked!`);

          $('#showItem').on('show.bs.modal', function (event) {

        var modal = $(this)
        modal.find('.modal-title').text('Zlecenie: '+data.item.label)
        $.ajax({
                url:'{{ (path('_get_item')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id": data.item.id
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    modal.find('.modal-body .proces').val(data.proces);
                    modal.find('.modal-body .przezbrojenie').prop("checked", data.przezbrojenie);
                    modal.find('.modal-body .czasprze').val(data.czasprzez);// $('div#ajax-results').html(data.output);
                    modal.find('.modal-body .czasroz').val(data.start);
                    modal.find('.modal-body .czascyk').val(data.cykl);
                    modal.find('.modal-body .krotnosc').val(data.krotnosc);
                    modal.find('.modal-body .planid').val(data.id);
                    
                }
            });


        
        
        // modal.find('.modal-body input').val(recipient)
      });
      $('#showItem').modal('show');
        }

        element.addEventListener('click', onClick);

        return {
          update(element, newData) {
            data = newData; // data from parent scope updated
          },

          destroy(element, data) {
            element.removeEventListener('click', onClick);
          }
        };
      }

      function snapStart(time, diff, item) {
        return GSTC.api
          .date(time)
          .add(diff, 'milliseconds')
          
         
          .valueOf();
      }

      function snapEnd(time, diff, item) {
        $.ajax({
                url:'{{ (path('_move_item')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id": item.id,
                    "time": time,
                    "diff" : diff
                },
                async: true,
                success: function (data)
                {
                    console.log(data)
                    // $('div#ajax-results').html(data.output);

                }
            });
        return GSTC.api
          .date(time)
          .add(diff, 'milliseconds')
          .valueOf();
      }


            let selectionApi;
            const config = {
              plugins: [
                ItemMovement({
                  moveable: true,
                  resizeable: false,
                  collisionDetection: true,
                  wait: 500,
                  snapStart,
            snapEnd
                }),

                CalendarScroll({ speed: 2 }),
                WeekendHighlight()
              ],
              height: 800,
              list: {
                rows,
                columns
              },
              chart: {
                items,
                time: {
                  period: 'day'
                }
              },
              classNames: {},
              actions: {
                'chart-timeline-items-row-item': [clickAction]
              }
            };

            let GSTCState = (window.state = GSTC.api.stateFromConfig(config));
           

            document.getElementById('percent').addEventListener('input', ev => {
              gstc.state.update('config.list.columns.percent', ev.target.value);
            });
            document.getElementById('zoom').addEventListener('input', ev => {
              gstc.state.update('config.chart.time.zoom', ev.target.value);
            });
            const gstc = GSTC({
              element: document.getElementById('app'),
              state: GSTCState
            });
            window.gstc = gstc;
    </script>
    <script>
		jQuery.datetimepicker.setLocale('pl');
jQuery('.dtpicker').datetimepicker({step: 15});
	</script>
  </body>
</html>
