
{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}{% extends 'base.html.twig' %}

{% block body_title %}Zlecenia dla procesów{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Zlecenia</a></li>
    <li class="breadcrumb-item active" aria-current="page">Wszystkie</li>
    {% endblock %}

{% block body %}


<div class="card">


    
    
  
  <div class="col-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4>Zlecenia na procesach  </h4>
        {# <div class="alert alert-success">
                      {{proces.nung | round(2, 'floor')}}h / {{proces.ung | round(2, 'floor')}}h
                    </div> #}
      </div>
      <div class="card-body p-0">

        <div class="table-responsive">
          <table style="width:100%"
  id="table" class="table"

  data-show-columns="true"
  data-show-toggle="true"
  data-show-pagination-switch="true"
  data-show-refresh="true"
  data-search="true"
  data-pagination="false"
  data-key-events="true"

  data-show-export="true"
  data-use-row-attr-func="true"
  data-reorderable-rows="true"
  data-show-print="true"

  data-filter-control="true"
  data-show-search-clear-button="true"

  data-cookie="true"
  data-cookie-id-table="saveId"


 
  data-url="{{ path ('_ajax_procesy') }}"
 
  >
  <thead>
    <tr>
     <th data-field="proces" data-sortable="true">Proces</th>
      <th data-field="kolejka" data-cell-style="kolStyle" data-width="20" data-width-unit="px" data-sortable="true">Kol</th>
      <th data-field="ZPNumer" data-filter-control="input" data-sortable="true">Nr ZP</th>
      <th data-field="ZSNumer" data-filter-control="input" data-sortable="true">Nr ZS</th>
      <th data-field="ZSETowarKod" data-filter-control="input" data-sortable="true">Kod prod.</th>
      <th data-field="ZSETowarNazwa" data-filter-control="input" data-sortable="true">Nazwa prod.</th>
      <th data-field="KntAkronim" data-filter-control="input" data-sortable="true">Akronim</th>
      <th data-field="ZSEIlosc" data-sortable="true">Ilość</th>
      <th data-field="status" data-filter-control="select" data-sortable="true">Stan</th>
      <th data-field="czasProd" data-sortable="true">Czas</th>
      <th data-field="krotnosc" data-sortable="true">Krotnosc</th>
      <th data-field="czasPrze" data-sortable="true">Cza. Prze.</th>
      
      
    </tr>
  </thead>
</table>
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}

{% block script %}
<script>
$(function() {
  $( ".table" ).each(function() {
   $(this).bootstrapTable(
      {
        exportDataType: $(this).val(),
        exportTypes: ['csv', 'txt', 'excel', 'pdf']
      }
    )
  })
});
   
  
</script> 
{% endblock %}