
{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}{% extends 'base.html.twig' %}

{% block body_title %}Zlecenia dla procesów{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Zlecenia</a></li>
    <li class="breadcrumb-item active" aria-current="page">Wszystkie</li>
    {% endblock %}

{% block body %}


<div class="card">
<div class="card-header">
<div class="col-4">
        <h2>{{proces.nazwa}}</h2>
        <div class="alert alert-success">
                      Zaplanowany czas produkcji: <strong class="times">{{proces.nung | round(2, 'floor')}}h - {{proces.ung | round(2, 'floor')}} h</strong> 
                      {# <div class="spinner-border" role="status">
                        <span class="sr-only">Aktualizuję...</span>
                      </div> #}
                    </div>
                    </div>
                    <div class="col-3">
          <button  type="button" class="zapkol btn btn-primary btn-lg" style="border-radius: 3px !important; line-height:30px !important;">Zapisz kolejność</button>          
          </div>
          
      </div>
      <div class="progress" style="display: none">
  <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
</div>
                
</div>
  
    
    
  
  <div class="col-12 col-md-12 col-lg-12">
    <div class="card">
    
      <div class="card-header">
      
      {#  #}
      <div class="card-body p-0">
<table style="width:100%"
  id="table" class="table"

  data-show-columns="true"
  data-show-toggle="true"
  data-show-pagination-switch="true"
  data-show-refresh="true"
  data-search="true"
  data-pagination="false"
  data-key-events="true"

  data-show-export="true"
  data-use-row-attr-func="true"
  data-reorderable-rows="true"
  data-show-print="true"

  data-filter-control="true"
  data-show-search-clear-button="true"

  data-cookie="true"
  data-cookie-id-table="saveId"


 
  data-url="{{path ('_ajax_lista_proces', {'id': proces.id})}}"
 
  >
  <thead>
    <tr>
     <th data-field="id" data-width="20" data-width-unit="px" data-sortable="true">#</th>
      <th data-field="kolejka" data-cell-style="kolStyle" data-width="20" data-width-unit="px" data-sortable="true">Kol</th>
      <th data-field="ZPNumer" data-filter-control="input" data-sortable="true">Nr ZP</th>
      <th data-field="ZSNumer" data-filter-control="input" data-sortable="true">Nr ZS</th>
      <th data-field="ZSETowarKod" data-filter-control="input" data-sortable="true">Kod prod.</th>
      <th data-field="ZSETowarNazwa" data-filter-control="input" data-sortable="true">Nazwa prod.</th>
      <th data-field="KntAkronim" data-filter-control="input" data-sortable="true">Akronim</th>
      <th data-field="ZSEIlosc" data-sortable="true">Ilość</th>
      <th data-field="status" data-filter-control="select" data-sortable="true">Stan</th>
      <th data-field="czasProd" data-sortable="true">Czas</th>
      <th data-field="gotowe" data-width="20" data-width-unit="px"  data-cell-style="cellStyle" data-filter-control="select" data-sortable="true">Gotowe</th>
      <th data-field="widocznosc" data-width="20" data-width-unit="px"  data-cell-style="cellStyle" data-filter-control="select" data-sortable="true">Ukryte</th>
      <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Opcje</th>
		  
      
    </tr>
  </thead>
</table>
        
      </div>
      
    </div>
  </div>

{% endblock %}

{% block script %}
<script>

  $(function() {
    $('#table').bootstrapTable(
      {
        exportDataType: $(this).val(),
        exportTypes: ['csv', 'txt', 'excel', 'pdf']
      }
    )
  })
  function cellStyle(value, row, index) {
    var classes = [
      'bg-blue',
      'bg-green',
      'bg-orange',
      'bg-yellow',
      'bg-red'
    ]

    if (value == "NIE") {
      return {
       classes: 'tab-bg-red'
      }
    }
     if(value == "TAK"){
     return {
       classes: 'tab-bg-green'
      }
    }
   
  }
  function kolStyle(value, row, index) {
  return {
       classes: 'tab-kol'
      }
  }

  function operateFormatter(value, row, index) {
    return [
      '<a class="edytuj" href="javascript:void(0)" title="Edytuj">',
      '<i class="fas fa-edit"></i>',
      '</a>  ',
      '<a class="usun" href="javascript:void(0)" title="Usuń">',
      '<i class="fa fa-trash"></i>',
      '</a>',
      '<a class="zmien" href="javascript:void(0)" title="Zmień ilość">',
      '<i class="fas fa-calculator"></i>',
      '</a>'
    ].join('')
  }
 
window.operateEvents = {
    'click .edytuj': function (e, value, row, index) {
    
     window.location = "/produkcja/edytuj-zaplanowany-proces/" + JSON.stringify(row.id)
         },
    'click .usun': function (e, value, row, index) {
      var answer=confirm('Napewno chcesz usunąć?');
    if(answer){
     
   
      window.location = "/produkcja/usun-zlecenie/" + [row.id];
       }
    },
    'click .zmien': function (e, value, row, index) {
     
   
      window.location = "/produkcja/edytuj-ilosc/" + [row.id];
       
    }
  }

  function widocznosc(pid, val, element) {
     
      
       $.ajax({
                url:'{{ (path('_ajax_ukryte')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id" : pid,
                    "val" : val
                },
                async: true,
              
                success: function (data)
                {

                  if(val){
                    element.css('background', 'green');
                    element.html('TAK')
                  }else{
                     element.css('background', 'red');
                     element.html('NIE')
                  }
                    
                }
            }); 

    
  };

$('.table').on('click-cell.bs.table', onClickCell);

  function onClickCell(event, field, value, row, element) {
  var zid = row.id;
  var val = false;
  var ht = element.html();
  if(ht == 'NIE'){
    val = true;
  }
  if(field == 'widocznosc'){
    widocznosc(zid, val, element);
  }else if(field == 'gotowe'){
    gotowosc(zid, val, element);
  }
};

  function gotowosc(pid, val, element ) {
      
      
       $.ajax({
                url:'{{ (path('_ajax_gotowe')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id" : pid,
                    "val" : val
                },
                async: true,
                success: function (data)
                {
                 if(val){
                    element.css('background', 'green');
                    element.html('TAK')
                  }else{
                     element.css('background', 'red');
                     element.html('NIE')
                  }
            
                   
                    

                }
            });
             };

$('.zapkol').click(function() {
  $('.progress').fadeIn();
  var arr = [];
  var kol = $('.tab-kol');
  var size = kol.length;
  var proc = 0;
  var licz = 0;
     kol.each(function( index ) {
       licz++;
       $(this).html(index+1);
       {# arr.push([$(this).data('zap'), index]); #}
       proc = (licz/size)*100;
       $('.progress-bar').css('width', proc+'%');
        $('.progress-bar').html(proc+'%');
        $.ajax({
                url:'{{ (path('_ajax_pozycja')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id" : $(this).data('zap'),
                    "val" : index+1
                },
                async: true,
                success: function (data)
                {
                    
                    

                }
            });
     });
 });

 $( document ).ready(function() {


   

 });
 
 
</script>

{% endblock %}

{# $.ajax({
                url:'{{ (path('_ajax_czas')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id" : {{ proces.id }}
                },
                async: true,
                success: function (data)
                {
                    $('.times').html(data['nung'].toFixed(2) +" h - " + data['ung'].toFixed(2)) + ' h';
                    $('.spinner-border').fadeOut();

                }
            });   #}