{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}
{% extends 'base.html.twig' %}

{% block body_title %}Zlecenia aktywne{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Zlecenia</a></li>
    <li class="breadcrumb-item active" aria-current="page">Aktywne</li>
    {% endblock %}

{% block body %}

<div class="row">

<div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Opcje</h4>
                  </div>
                  <div class="card-body">
                    <a href="{{ path('_zlecenia_dodaj')}}" class="btn btn-icon icon-left btn-success"><i class="fas fa-plus"></i> Dodaj zlecenie</a>
                  </div>
                 
                </div>
                
              </div>


</div>
<div class="card">
<div class="card-header">
                    <h4>Wyszukiwarka</h4>
                    
                    <div class="card-header-action">
                    <div class="row">
                    <div class="col-6">
                   <select class="form-control searchtype">
                        <option value="searchzp">Nr ZP</option>
                        <option value="searchzs">Nr ZS</option>
                        <option value="searchkod">Kod produktu</option>
                        <option value="searchnazwa">Nazwa produktu</option>
                        <option value="searchakro">Akronim</option>
                        <option value="searchstan">Stan zlecenia</option>
                      </select>
                      </div>
                      <div class="col-6">
                        <div class="input-group">
                        
                          <input type="text" class="searchin form-control padd"  placeholder="Wyszukaj...">
                          
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
</div>
<div class="card-body">
                      <table id="table" 
          data-show-print="true" 
          data-filter-control="true"
          
          data-show-toggle="true"  
          data-use-row-attr-func="true"  
          data-reorderable-rows="true"
          class="table table-sm table-striped " >

  <thead class="thead-light">
    <tr >
      <th scope="col">#</th>
      <th scope="col">Nr ZP</th>
      <th scope="col">Nr ZS</th>
      <th scope="col">Kod produktu</th>
      <th scope="col">Nazwa produktu</th>
      <th scope="col">Akronim</th>
      <th scope="col">Zamówiona ilość</th>
      <th scope="col">Stan zlecenia</th>
      
      <th scope="col" style="width:250px">Opcje</th>
    </tr>
  </thead>
  <tbody>
      {% for zlecenie in zlecenia %}
    <tr class="searchline">
      
      <th scope="row">{{ zlecenie.id }}</th>
      <td class="searchzp">{{ zlecenie.ZPNumer }}</td>
      <td class="searchzs">{{ zlecenie.ZSNumer }}</td>
      <td class="searchkod">{{ zlecenie.ZSETowarKod }}</td>
      <td class="searchnazwa">{{ zlecenie.ZSETowarNazwa }}</td>
      <td class="searchakro">{{ zlecenie.KntAkronim }}</td>
      <td>{{ zlecenie.ZSEIlosc }}</td>
      <td class="searchstan">{{ zlecenie.ZSNag }}</td>
      {# href="{{path('_planuj', {'zlecenie':zlecenie.id})}}" #}
      {# <td><a  class="planujbtn btn btn-success btn-sm" target=”_blank”>Planuj</a>  #}
      <td><button class="planujbtn btn btn-success" data-id="{{zlecenie.id}}">Planuj</button>
      {# <a href="{{path('_usun', {'zlecenie':zlecenie.id})}}" class="usunbtn btn btn-danger btn-sm">Usuń</a> #}

        <a href="{{url('_usun', {'zlecenie':zlecenie.id})}}" onclick="return confirm('Chcesz usunąć zlecenie {{zlecenie.ZPNumer}}  /  {{zlecenie.ZSNumer}}?');"><button class="btn btn-danger" >Usuń</button></a>
      </td>
      {# <td><a href="{{ path('_jednostki', {'numerDyrekcji':dyrekcja.id}) }}"><button type="button" class="btn btn-info"><i class="far fa-eye"></i></button></a></td> #}
    </tr>
      {% endfor %} 
  </tbody>
</table>
 </div> 
 </div>

<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true" style="z-index=999">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
{# <script src="{{ asset('assets/modules/cleave-js/dist/cleave.min.js') }}"></script> #}
<script src="{{ asset('assets/modules/cleave-js/dist/cleave.min.js') }}"></script>
<script src="https://unpkg.com/emodal@1.2.69/dist/eModal.min.js" /></script>
<script>
$(document).ready(function(){
  
  $('.searchin').keyup(function(event){
    var szuk = $(this).val().toLowerCase();;
    var linie =  $(".searchline");
    var typ = '.' + $(".searchtype").children("option:selected").val();
    $.each(linie, function() {
        var war = $(this).find(typ).text().toLowerCase();;
        if(war.includes(szuk)){
          $(this).show();
        }else{
          $(this).hide();
        }
    });
  });
    
      $('.planujbtn').click(function() {
        $( this ).closest( "tr" ).hide( "slow" );
        var pid = $(this).data("id");
        var url = "\\planuj\\" + pid;
         eModal.iframe(url, 'Planowanie zlecenia');
      });

$('#delModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})

});

</script> 
{% endblock %}