{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}
{% extends 'base.html.twig' %}

{% block body_title %}Dodaj nowe zlecenie
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="#">Dodaj nowe zlecenie</a>
	</li>
	{# <li class="breadcrumb-item active" aria-current="page">{{zlecenie.ZPNumer}}</li> #}
{% endblock %}

{% block script %}
	{# <script src="{{ asset('assets/modules/datetimepicker/build/jquery.datetimepicker.full.min.js') }}"></script>
	<script src="{{ asset('assets/js/planowanie.js') }}"></script>
	<script>
		jQuery.datetimepicker.setLocale('pl');
jQuery('.dtpicker').datetimepicker({step: 15}); #}
	</script>

{% endblock %}

{% block head %}
	{# <link rel="stylesheet" type="text/css" href="{{ asset('assets/modules/datetimepicker/build/jquery.datetimepicker.min.css') }}"/> #}

{% endblock %}

{% block body %}

{{ form(form) }}

{% endblock %}
