{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}
{% extends 'iframe.html.twig' %}

{% block body_title %}Planowanie zlecenia -
	{{zlecenie.ZPNumer}}
	|
	{{zlecenie.ZSNumer}}
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="#">Planowanie</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">{{zlecenie.ZPNumer}}</li>
{% endblock %}

{% block script %}
	<script src="{{ asset('assets/modules/datetimepicker/build/jquery.datetimepicker.full.min.js') }}"></script>
	<script src="{{ asset('assets/js/planowanie.js') }}"></script>
	<script>
		jQuery.datetimepicker.setLocale('pl');
jQuery('.dtpicker').datetimepicker({step: 15});
	</script>

{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/modules/datetimepicker/build/jquery.datetimepicker.min.css') }}"/>

{% endblock %}

{% block body %}
	<form action="{{ path("_planuj_zapisz", {'zlecenie': zlecenie.id}) }}" method="POST">
		<div class="card">
			<div class="card-header">
				<h4>{{ zlecenie.ZSETowarNazwa}}
					- <input name="ilosc" type="text" class="ilosc" value="{{zlecenie.ZPEIlosc}}">
					{{ zlecenie.ZPEjm }}</h4>
			</div>
			<div class="card-body">
				<div id="proces1" class="card px-md-5">
					<div class="card-heder">
						<h4 class="nazwa">Proces produkcji 1</h4>
					</div>
					<div class="row">
						<div class="col-12 col-md-12 col-lg-12">

							<div class="row">
								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Proces produkcji:</label>
										<select name="proces-1" data-id="1" class="proces form-control">
											{% for proces in procesy %}
												
												<option value="{{proces.id}}">{{proces.nazwa}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Czas rozpoczęcia procesu</label>
										<input id="dtp1" name="data-1" type="text" class="dtpicker form-control">

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<div class="control-label">Wymagane przezbrojenie</div>
										<label class="custom-switch mt-2">
											<input type="hidden" name="przezbrojenie-1" value="off" class="hprzezbrojenie">
											<input type="checkbox" name="przezbrojenie-1" class="przezbrojenie custom-switch-input">
											<span class="custom-switch-indicator"></span>
											<span class="custom-switch-description">Wymagane przezbrojenie</span>
										</label>

									</div>
								</div>

								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Średni czas przezbrojenia (min):</label>
										<input name="czasprzez-1" type="text" class="czasprze form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Czas cyklu OCC:</label>
										<input id="czascyk-1"name="czascyk-1" type="text" class="czascyk form-control" required="" value="{{ procesy[0].czas1szt }}">
									</div>
								</div>

								<div class="col-12 col-md-6 col-lg-6">
									<div class="form-group">
										<label>Krotność:</label>
										<input name="krotnosc-1" type="text" class="krotnosc form-control" required="">
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="row text-right">
					<button type="button" id="dodaj-proces" class="btn btn-primary">
						<i class="fa fa-plus" aria-hidden="true"></i>
						Dodaj proces produkcji</button>
				</div>
			</div>
			<div class="card-footer bg-whitesmoke text-right">
				<button class="btn btn-success  mr-1" type="submit">Zapisz</button>
			</div>
		</div>
	</form>
{% endblock %}

