{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}

{% extends 'base.html.twig' %}

{% block body_title %}Zlecenia usunięte{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Zlecenia</a></li>
    <li class="breadcrumb-item active" aria-current="page">Aktywne</li>
    {% endblock %}

{% block body %}

<div class="row">

{# <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Opcje</h4>
                  </div>
                  <div class="card-body">
                    <a href="{{ path('_zlecenia_dodaj')}}" class="btn btn-icon icon-left btn-success"><i class="fas fa-plus"></i> Dodaj zlecenie</a>
                  </div>
                 
                </div>
                
              </div>


</div> #}

                      <table class="table table-sm table-striped " >

  <thead class="thead-light">
    <tr>
      <th scope="col">{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
      <th scope="col">Nr ZP</th>
      <th scope="col">Nr ZS</th>
      <th scope="col">Kod produktu</th>
      <th scope="col">Nazwa produktu</th>
      <th scope="col">Akronim</th>
      <th scope="col">Zamówiona ilość</th>
      <th scope="col">Stan zlecenia</th>
      
      <th scope="col" style="width:250px">Opcje</th>
    </tr>
  </thead>
  <tbody>
     {% for zlecenie in pagination %} 
    <tr>
      
      <th scope="row">{{ zlecenie.id }}</th>
      <td>{{ zlecenie.ZPNumer }}</td>
      <td>{{ zlecenie.ZSNumer }}</td>
      <td>{{ zlecenie.ZSETowarKod }}</td>
      <td>{{ zlecenie.ZSETowarNazwa }}</td>
      <td>{{ zlecenie.KntAkronim }}</td>
      <td>{{ zlecenie.ZSEIlosc }}</td>
      <td>{{ zlecenie.status }}</td>
      <td>
      <a href="{{path('_przywroc', {'zlecenie':zlecenie.id})}}" class="usunbtn btn btn-success btn-sm">Przywróć</a>
      {# <td><a href="{{path('_planuj', {'zlecenie':zlecenie.id})}}" class="planujbtn btn btn-success btn-sm" target=”_blank”>Planuj</a>  #}
      {# <a href="{{path('_usun', {'zlecenie':zlecenie.id})}}" class="usunbtn btn btn-danger btn-sm">Usuń</a> #}
      {# <button class="btn btn-danger trigger--fire-modal-7" data-confirm="Usunąć zlecenie?|Jesteś pewien że chcesz kontynuować?" data-confirm-yes="window.location.replace('{{url('_usun', {'zlecenie':zlecenie.id})}}');">Usuń</button> #}
      </td>
      {# <td><a href="{{ path('_jednostki', {'numerDyrekcji':dyrekcja.id}) }}"><button type="button" class="btn btn-info"><i class="far fa-eye"></i></button></a></td> #}
    </tr>
      {% endfor %} 
  </tbody>
</table>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{# </div> #}
{% endblock %}
{% block script %}
<script src="{{ asset('assets/modules/cleave-js/dist/cleave.min.js') }}"></script>
<script>
$(document).ready(function(){
  
  
    
      $('.planujbtn').click(function() {
        $( this ).hide( "slow" );
      });
});

</script> 
{% endblock %}