
{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}{% extends 'base.html.twig' %}

{% block body_title %}Zlecenia wszystkie{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Zlecenia</a></li>
    <li class="breadcrumb-item active" aria-current="page">Wszystkie</li>
    {% endblock %}

{% block body %}
{# <div class="table"> #}
                      <table class="table table-sm table-striped " >

  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nr ZP</th>
      <th scope="col">Nr ZS</th>
      <th scope="col">Kod produktu</th>
      <th scope="col">Nazwa produktu</th>
      <th scope="col">Akronim</th>
      <th scope="col">Zamówiona ilość</th>
      <th scope="col">Stan zlecenia</th>
      <th scope="col">Status</th>
      {# <th scope="col">Planuj</th> #}
    </tr>
  </thead>
  <tbody>
      {% for zlecenie in zlecenia %}
    <tr>
      
      <th scope="row">{{ zlecenie.id }}</th>
      <td>{{ zlecenie.ZPNumer }}</td>
      <td>{{ zlecenie.ZSNumer }}</td>
      <td>{{ zlecenie.ZSETowarKod }}</td>
      <td>{{ zlecenie.ZSETowarNazwa }}</td>
      <td>{{ zlecenie.KntAkronim }}</td>
      <td>{{ zlecenie.ZSEIlosc }}</td>
      <td>{{ zlecenie.status }}</td>
      <td>{%if zlecenie.status == 0%}Zaimportowane{%endif%}</td>
      {# <td><a href="#" class="btn btn-success btn-sm">Planuj</a></td> #}
      {# <td><a href="{{ path('_jednostki', {'numerDyrekcji':dyrekcja.id}) }}"><button type="button" class="btn btn-info"><i class="far fa-eye"></i></button></a></td> #}
    </tr>
      {% endfor %} 
  </tbody>
</table>
{# </div> #}
{% endblock %}
