.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px !important;
}

.tab-bg-red{
background: red;
color: black;
font-weight: bold;
}
      
.tab-bg-green{
background: green;
color: black;
font-weight: bold;
}