
{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}
<ul class="list-group list-group-sortable-connected dad-contener" style="min-height: 40px; background-color: whitesmoke">
{% for zadanie in zadania %}
  <li data-org-pro="{{ zadanie.procentEtatu }}" data-org-zad="{{ zadanie.id }}" class="list-group-item list-group-item-success d-flex justify-content-between align-items-center dad-item">{{ zadanie.opis }} <span class="badge badge-primary badge-pill">{{ zadanie.procentEtatu }} %</span><a tabindex="0" class="btn btn-sm btn-outline-success" role="button" data-toggle="popover" data-trigger="focus" title="Opis zadania" data-content="Szczegółowy opis wykonywamych prac w danym zadaniu">?</a></li>
{% endfor %}
</ul>