{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}
<ul class="list-group">
{% for pracownik in pracownicy %}
   <li class="list-group-item d-flex justify-content-between align-items-center dad-item"><span class="badge badge-primary badge-pill">{{ pracownik.obciazenie }}</span> {{ pracownik.nazwa }} <a href="{{ path('_zadania', {'numerJednostki': jednostka.id, 'numerDzialu': dzial.id, 'numerOsoby': pracownik.id }) }}"><button type="button" class="btn btn-info"><i class="fas fa-briefcase"></i></button></a></li>
{% endfor %}
</ul>