{# Copyright 2020 Jacek Osiński

This file is part of Esto-prod (https://bitbucket.org/waspit/esto-prod/src/master/)

Esto-prod is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.  #}

{% if pracownicy is not empty %}
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Obciążenie", { role: "style" } ],
        {% for pracownik in pracownicy %}
        ["{{ pracownik.nazwa }}", {% if pracownik.obciazenie == null %}0{%else%}{{ pracownik.obciazenie }}{%endif%}, "green"],
                {% endfor%}

      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
          
        title: "Obciążenie pracowników",
     
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
      };
      
      new google.visualization.BarChart(document.getElementById("wykres-{{dzial.id}}")).draw(view, options);
  }
  </script>
  {% endif %}