<h3>Wiadomość wysłana przez formularz kontaktowy na stronie esto.biz.pl</h3>
<br>
<p>Wiadomość od: {{ dane.name }} ({{ dane.email }})</p>
<p>Telefon: {{ dane.phone }}</p>
<p>Widomość: {{ dane.message }}</p>